



.tables-container{
    display: flex;
    gap: 20px;
   

    
}

table{
    width: 30%;
    margin: auto;

}



input {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
}
